<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/png" href="favicon/Icon.ico"/>
    <title>To Do List</title>
</head>
<body>
    <div class="box" id="date">
        <h1>
            <%= date %>
        </h1>
    </div>
    <div class="box" id="heading">
        <h1>
            <%= list %>
        </h1>
    </div>

    <div class="box">
        <% task.forEach(t => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= t._id %>" onchange="this.form.submit()">
                    <p>
                        <%= t.name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= list %>">
            </form>
        <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" id="new" name="itemName" placeholder="New Task">
            <button type="submit" name="listName" value="<%= list %>">+</button>
        </form>
    </div>

</body>
</html>